In [17]:
import pandas as pd
import geopandas as gpd

In [18]:
gdf = gpd.read_file("map/estados_mexico_limpio.geojson")
df = pd.read_csv("datos.csv", dtype={"ent": str})

In [19]:
df.head()

  ent entidad    e1    e2    e3    e4    e5    e6
0  01     AGU  0.50  0.40  0.30  0.60  0.45  0.55
1  02      BC  0.51  0.41  0.32  0.59  0.46  0.56
2  03     BCS  0.52  0.42  0.33  0.58  0.47  0.56
3  04     CAM  0.53  0.44  0.34  0.57  0.47  0.57
4  05     COA  0.54  0.45  0.36  0.56  0.48  0.57

In [20]:
gdf.head()

  entidad ent                                           geometry
0     AGU  01  POLYGON ((-102.27549 22.4134, -102.27541 22.41...
1      BC  02  MULTIPOLYGON (((-114.09167 28, -114.09718 28, ...
2     BCS  03  POLYGON ((-114.14934 28, -114.14733 27.99714, ...
3     CAM  04  MULTIPOLYGON (((-90.38182 20.74954, -90.38182 ...
4    CDMX  09  POLYGON ((-99.16219 19.52774, -99.16212 19.527...

In [21]:
# haz un value counts del indice de gdf
gdf['index'].value_counts()

KeyError: 'index'